<html lang="en">

   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Tech About It</title>
      <link rel="stylesheet" href="/css/style.css" />
   </head>

   <body class="">
      <nav class="navbar">
         <ul class="">
            <li class=""><a href="/">Home</a></li>
            <li class=""><a href="/dashboard">Dash</a></li>
            <li class=""><a href="#" id="logout-link">Logout</a></li>
         </ul>
      </nav>
      <header class="hero">
         <h1 class=""><a href="/dashboard">My Dash</a></h1>
      </header>

      <main class="">
         {{{body}}}
      </main>

      <footer class="footer">
         <a href="/dashboard/new"> New Post</a>
      </footer>
   </body>

   <script src="/js/logout.js"></script>

</html>